/*  your css code here. If applicable */
* {
	background-color: #f5f5f5;
	margin:10px;
}
p {
	background-color: white;
}
.user {
	background-color: white;
	text-align: right;
}
div{
	background: white;
}